@import "tailwindcss";

/* Default font for body */
body {
  font-family: "Poppins", sans-serif;
}

/* Optional utility classes for other fonts */
.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-crimson-text {
  font-family: "Crimson Text", serif;
}
